<div>
    <div class=“dashboard-review”>
       <h2><a class=“link” href="../singlesongreview.handlebars">{{review_title}}</a></h2>
        <div>
        <p>{{content}}</p>
        <p>Posted by <span>{{user.username}}</span> on {{format_time date_created}}</p>
        </div>
    </div>
</div>