<div class="container">
    <div class="form container my-5">
        <div class="p-5 bg-body-tertiary rounded-3">
          <h1 class="text-body-emphasis text-center">Add a New Review!</h1>
          <form class="form container my-5 new-song-form">
            <div class="row">
              <div class="col mb-3 form-group">
                <label for="song-title-content" class="form-label">Song Title</label>
                <input type="text" class="form-control" id="song-title-content" placeholder="ex. 'Moves Like Jagger'">
              </div>
              <div class="col mb-3 form-group">
                <label for="artist-content" class="form-label">Artist Name</label>
                <input type="text" class="form-control" id="artist-content" placeholder="ex. 'Maroon 5'">
              </div>
            </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end form-group">
                <button class="btn btn-primary" id="new-song-submit" type="submit">Add New Song</button>
              </div>
          </form>
          <form class="form container my-5 new-review-form">
            <div class="input-group mb-3">
              <input type="text" id="rating" class="form-control" aria-label="1-10 rating">
              <span class="input-group-text">/10</span>
            </div>
            <div class="col mb-3 form-group">
              <label for="review-title-content" class="form-label">Review Title</label>
              <input type="text" class="form-control" id="review-title-content" placeholder="Add a title here">
            </div>
            <div class="mb-3 form group">
              <label for="review-content" class="form-label">Review</label>
              <textarea class="form-control" id="review-content" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end form-group">
              <button class="btn btn-primary" id="new-review-submit" type="submit">Submit Review</button>
            </div>
          </form>
        </div>
    </div>
</div>

<script src="/js/newReview.js"></script>